{% for job in jobs %}
<div class="card lg:card-side bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">{{ job.title }}</h2>
        <h3 class="card-title">{{ job.company_name }}</h3>
        {% if let Some(location) = job.location %}
        <p>Location: {{ location }}</p>
        {% endif %} {% if let Some(salary) = job.salary %}
        <p>Salary: {{ salary }}</p>
        {% endif %} {% if let Some(expires_at) = job.expires_at %}
        <p>Expires at: {{ expires_at }}</p>
        {% endif %}
        <div class="card-actions justify-end">
            <a href="/job/{{ job.id }}" class="btn btn-primary">Apply</a>
        </div>
    </div>
</div>
{% endfor %}
