{% extends "base.html" %} {% block body %}
<form method="post" target="/company">
    <label for="name">Company Name</label>
    <input type="text" name="name" id="name" required />

    <label for="description">Active</label>
    <textarea id="description" name="description" rows="5" cols="80"></textarea>

    <label for="website">Company Website</label>
    <input
        type="url"
        name="website"
        id="website"
        placeholder="https://example.com"
        pattern="https://.*"
        required
    />

    <label for="logo">Logo</label>
    <input type="file" id="logo" name="logo" accept="image/*" />
    <input type="submit" value="Create Company" />
</form>
{% endblock body %}
